# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Archivos generados
*.apk
*.aar
*.ap_
*.aab

# Archivos de desarrollo
*.keystore

# Archivos temporales
*.swp
*.bak
*.tmp